
<section class="page-header">
  <div style="font-weight: 200;">
      <a style="color: #fff" href="http://kubernetes.io/v1.1/" target="_new">Docs</a> |
      <a style="color: #fff" href="http://stackoverflow.com/questions/tagged/kubernetes" target="_new">StackOverflow</a> |
      <a style="color: #fff" href="http://slack.k8s.io/" target="_new">Slack</a> |
      <a style="color: #fff" href="http://kubernetes.slackarchive.io/" target="_new">Slack Archive</a> |
      <a style="color: #fff" href="https://twitter.com/kubernetesio" target="_new">Twitter</a> |
      <a style="color: #fff" href="https://groups.google.com/forum/#!forum/google-containers" target="_new">Mailing List</a>
  </div>
  <h1 class="project-name">Kubernetes Community Resources</h1>
  <h2 class="project-tagline">Container management from appops for appops.</h2>
<div class="toplevel-menu">
    {% if page.hmenu == 'index'  %}
    <span class="menu-item-sel">home</span>
    {% else %}
    <span class="menu-item"><a href="index.html">home</a></span>
    {% endif %}

    {% if page.hmenu == 'recipes'  %}
    <span class="menu-item-sel">recipes</span>
    {% else %}
    <span class="menu-item"><a href="recipes.html">recipes</a></span>
    {% endif %}

    {% if page.hmenu == 'cs'  %}
    <span class="menu-item-sel">cheat sheet</span>
    {% else %}
    <span class="menu-item"><a href="cs.html">cheat sheet</a></span>
    {% endif %}

    <span class="menu-item"><a href="https://github.com/kubernauts/k8s.info" target="_new">contribute</a></span>
</div>
</section>
